* {
    margin: 0;
}

.header__width {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 1170px;
    height: 75px;
    background: #000000;
    margin: 0 auto;
    position: fixed;
}

.header__points:hover {
    margin-bottom: 5px;
}

.header__points1:hover {
    margin-bottom: 5px;
}

.header__button:hover {
    color: #EC7979;
    border-color: #EC7979;
}

.header__tabs {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-left: 115.28px;
}

.header__points {
    color: #FFFFFF;
    margin: 0 25px;
}

.header__points1 {
    color: #FFFFFF;
    margin: 0 25px;
    margin-left: 250px;
}

.header__form {
    width: 1170px;
    height: 1026px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/bg1.png);
}

.form__logo {
    width: 270px;
    height: 100px;
    margin-left: 170px;
    margin-top: 208px;
    color: #000000;
}

.header__text {
    width: 390px;
    height: 168px;
    margin-left: 170px;
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 50px;
}

.header__line {
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 170px;
    margin-top: 100px;
}

.form__lorem {
    width: 270px;
    height: 42px;
    color: #FFFFFF;
    margin-left: 170px;
    margin-top: 50px;
}

.header__button {
    background: 0, 0, 0, 0;
    color: white;
    border-color: #FFFFFF;
    width: 270px;
    height: 58px;
    size: 18px;
    margin-left: 170px;
    margin-top: 50px;
}

.form__header {
    background-color: #FFFFFF;
    width: 470px;
    height: 390px;
    position: relative;
    right: -600px;
    bottom: 625px;
    border: 1px solid #FFFFFF;
    border-radius: 10px 10px 0 0;
    justify-content: center;
}

.header__forms {
    margin: 0 auto;
}

.form__start {
    size: 24px;
    margin-top: 25px;
    height: 90px;
    font-family: Open Sans;
    margin-left: 120px;
}

.form__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form__points {
    width: 370px;
    height: 38px;
    margin: 15px 0;
    border-left: #FFFFFF;
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    outline: none;

}

.footer__logo {
    background: #F8EFEF;
    width: 1170px;
    height: 140px;
    margin-top: -197px;
}

.forms__button {
    position: relative;
    top: 60px;
    width: 472px;
    height: 60px;
    background: #EC7979;
    border: none;
    border-radius: 0 0 15px 15px;
    color: #FFFFFF;
}

.footer__header {
    width: 470px;
    height: 60px;
    margin-left: 85px;
    ;
    padding-top: 20px;
}

.footer__logo p {
    width: 470px;
    height: 42px;
    margin-left: 85px;
    color: #86878B;
}

.footer__icons {
    width: 70px;
    height: 70px;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    width: 1170px;
    height: 540px;
    border: 1px solid #C6CBCD;
    margin: 0px auto;
    margin-left: 50px;
    margin: auto;
}

.tab-wrapper {
    margin: 0px;
}

.tab-wrapper__blok {
    justify-content: center;
    display: flex;
}

.wrapper__block {
    flex-grow: 1;
    flex-basis: 0;
    width: 370px;
    height: 383px;
    display: flex;
    flex-direction: column;
    margin: auto;
    display: flex;
    align-items: center;
}

.wrapper__block h3 {
    margin-left: 20px;
    margin-bottom: 100px;
}

.wrapper__block p {
    margin: 20px 20px;
}

.header__tab {
    width: 1170px;
    height: 40px;
    border: 1px solid gray;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: white;
    margin: auto;
    margin-top: 130px;
}

.tab-wrapper__title {
    width: 201px;
    float: left;
    height: 38px;
    border: 1px solid gray;
}

.img {
    width: 470px;
    height: 500px;

}

.block_text {

    width: 570px;

}

.button {
    background: brown;
    color: white;
    width: 270px;
    height: 58px;
    size: 18px;
}

.advantages {
    max-width: 1170px;
    margin: auto;

}

.bim {
    text-align: center;
    font-size: 36px;
    margin: 100px auto;
}

.line {
    width: 170px;
    height: 1px;
    background-color: brown;
    margin: 40px auto;
}

.text_subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.advantages_block {
    display: flex;
    justify-content: space-between;
}

.block__flex {
    width: 370px;
    height: 383px;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.block__flex img {
    margin: 0 auto;
}

.block__flex h3 {
    text-align: center;
    font-size: 24px;
}

.block__flex p {
    text-align: center;
    font-size: 18px;
    margin: auto;
}

body {
    font-family: Raleway;
}

h3 {
    font-family: Open Sans;
}

.cards {
    max-width: 1170px;
    margin: auto;
    margin-bottom: 50px;
}

.block p {
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.block h3 {
    text-align: center;
    font-size: 24px;
}

.block img {
    margin: 0 auto;
}

.block {
    width: 370px;
    height: 383px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cards__heder {
    text-align: center;
    font-size: 36px;

}

.cards__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.cards__subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin: 40px auto;
    margin-bottom: 100px;
}

.cards__block {
    display: flex;
    align-items: center;
}

.block h4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 370px;
    background: #333333;
    border: 2px solid #F5F5F5;
}

.continer {
    height: 100px;
    width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333333;
    border: 2px solid #F5F5F5;
}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 370px;
    align-items: center;
    background: #333333;
    border: 2px solid #F5F5F5
}

.points {
    height: 50px;
    width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

h2 {
    font-family: Raleway;
}

.block:hover {
    margin-bottom: 40px;
}

.reviews {
    max-width: 1170px;
    margin: auto;
}

.reviews__heder {
    text-align: center;
    font-size: 36px;
    margin: 80px auto;
}

.reviews__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.reviews__subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin: 40px auto;
    margin-bottom: 100px;
}

.reviews__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;

}

.description {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
}

.text_description {
    margin: 40px 60px;
}

.d4 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #E2E2E2;
    position: absolute;
    bottom: -100px;
    left: 85px;
}

.reviews__people {
    display: flex;
    justify-content: space-between
}

.people_text {
    margin: 0px 20px;
}

.people_p {
    margin-top: 20px;
}

h4 {
    font-family: Open Sans;
}

.banner {
    width: 1170px;
    height: 442px;
    margin: auto;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/image.png);
}

.banner__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
}

.banner__heder {
    text-align: center;
    font-size: 36px;
    margin: auto;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 100px;
}

.banner__description {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.banner__button {
    margin: 100px 430px;
    background: 0, 0, 0, 0;
    color: white;
    border-color: #FFFFFF;
    width: 370px;
    height: 58px;
    size: 18px;
}

h2 {
    font-family: Raleway;
}

.form {
    width: 1170px;
    margin: auto;
}

.form__heder {
    text-align: center;
    font-size: 36px;
    margin: auto;
    margin-top: 100px;
}

.form__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.form__description {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.form__filling {
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    width: 571px;
    height: 38px;
    margin: 10px;
    padding: 25px;
    outline: none;
}

.form__text {
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    width: 569px;
    margin-top: 45px;
    height: 269px;
    outline: none;
}

.form__flex {
    display: flex;
}

.form__button {
    background: #EC7979;
    color: white;
    width: 270px;
    height: 58px;
    size: 18px;
    border: #EC7979;
    margin: 50px 450px;
}

.footer {
    width: 1170px;
    height: 164px;
    background: #000000;
    margin: auto;
}

.footer__flex {
    display: flex;
    justify-content: center;
}

.footer__icon {
    margin: auto 25px;
    padding-top: 50px;
}

.footer__text {
    color: #FFFFFF80;
    margin: 0 auto;
    margin-top: 25px;
}

.footer__description {
    display: flex;
}

@media (max-width:1115px) {
    .header {
        margin-left: 0px;
    }

    .reviews__people {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:1000px) {
    .header__points {
        margin: 0px 16px;
    }

    .header__text {
        margin-left: 100px;
    }

    .form__logo {
        margin-left: 100px;
    }

    .header__line {
        margin-left: 100px;
    }

    .form__lorem {
        margin-left: 100px;
    }

    .header__button {
        margin-left: 100px;
    }

    .form__header {
        right: -500px;
    }

    .footer__header {
        margin-left: 35px;
    }

    .footer__left p {
        margin-left: 35px;
    }

    .footer__logo {
        display: flex;
        justify-content: flex-start;
    }

    .tabs {
        margin: 0 -172px;
    }

    .description {
        width: 305px;
        margin-right: 130px;
        margin-left: -45px;
    }

    .reviews__people {
        display: flex;
        justify-content: flex-start;
        margin-right: 83px;
    }

    .block h4 {
        width: 250px;
    }

    .block h3 {
        width: 250px;
    }

    .block p {
        width: 250px;
    }

    .cards__block {
        display: flex;
        align-items: center;
        margin: 0 -13px;
    }

    .block__flex {
        width: 220px;
        height: 383px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-right: 185px;
    }

    .bim {
        text-align: center;
        font-size: 36px;
        margin: 100px auto;
        margin-left: -145px;
    }

    .line {
        width: 170px;
        height: 1px;
        background-color: brown;
        margin: 40px auto;
        margin-left: 445px;
    }

    .text_subtitle {
        font-size: 18px;
        text-align: center;
        color: #86878B;
        margin-left: -145px;
    }

    @media (max-width:320px) {
        .header {
            width: 320px;
        }

        .header__logo {
            margin-left: 0px;
            margin-right: -89px;
        }
        .header__points1{
            margin: 0 7px;
            margin-left: 0px;
            font-size: 9px;
        }
        .header__points{
            margin: 0px 7px;
            font-size: 9px;
        }

        .form__logo {
            margin-left: 50px;
        }

        .header__text {
            margin-left: 30px;
            font-size: 34px;
        }

        .header__line {
            margin-left: 50px;
        }

        .form__lorem {
            margin-left: 30px;
        }

        .header__button {
            margin-left: 30px;
        }

        .form__header {
            position: static;
            width: 265px;
            height: 390px;
            margin-left: 30px;
            margin-top: 10px;
        }

        .footer__logo {
            margin-top: 80px;
            height: 239px;
            width: 320px;

        }

        .forms__button {
            position: static;
            margin-top: 60px;
            width: 267px;
        }

        .header__tab {
            margin-top: 0px;
            width: 320px;
        }

        .form__start {
            margin-left: 50px;
        }

        .form__points {
            width: 230px;
        }

        .forms__button {
            width: 265px;
        }

        .header__form {
            height: 1315px;
            width: 320px;
        }

        .footer__header {
            margin-left: 85px;
            margin-top: -140px;

        }

        .footer__left p {
            width: 298px;
            margin-left: 10px;
        }

        .icon {
            display: flex;
            position: absolute;
            bottom: -876px;
            justify-content: space-evenly;
            margin: 0px 17px;
            margin-left: -5px;
        }

        .footer__icons {
            width: 26px;
            height: 26px;
            margin: 0 10px;
        }

        .tab-wrapper__title {
            width: 98px;
        }

        .wrapper__block h3 {
            width: 320px;
            margin-left: 200px;
        }

        .wrapper__block p {
            width: 320px;
            font-size: 14px;
            margin-left: 200px;
        }

        .block__img {
            display: none;
        }

        .tabs {
            width: 492px;
            height: 410px;
        }

        .button {
            margin-left: 130px;
        }

        .bim {
            width: 320px;
            margin-left: 0px;
        }

        .advantages {
            width: 320px;
        }

        .text_subtitle {
            width: 320px;
            margin-left: 0px;
        }

        .advantages_block {
            display: block;
        }

        .block__flex {
            margin-right: 50px;
        }

        .line {
            margin-left: 75px;
        }

        .cards__heder {
            width: 320px;
            font-size: 32px;
        }

        .cards__block {
            display: flex;
            flex-direction: column;
        }

        .reviews__heder {
            width: 320px;
            font-size: 32px;
        }

        .reviews__text {
            display: flex;
            flex-direction: column;
        }

        .description {
            margin-left: 8px;
        }

        .banner {
            width: 320px;
        }

        .reviews__people {
            display: none;
        }

        .banner__button {
            margin: 0px 20px;
            width: 280px;
            margin-top: 20px;
        }

        .banner__description {
            margin: 0px 10px;
        }

        .form {
            width: 320px;
        }

        .form__description {
            margin: 0px 10px;
            font-size: 15px;
        }

        .form__filling {
            width: 320px;
        }

        .form__flex {
            display: flex;
            flex-direction: column;
        }

        .form__text {
            margin-left: 20px;
            width: 320px;
        }

        .form__button {
            width: 290px;
            margin: 20px 20px;
        }

        .footer__icon {
            width: 25px;
            height: 25px;
            margin: auto 10px;
        }

        .footer {
            width: 320px;
        }
    }
}