*{
    margin:0;
}
.tabs {
    width: 1170px;
    height: 540px;
    border: 1px solid #C6CBCD;
    margin: 0px auto;
    margin-left:50px;
}
.tab-wrapper{
    margin:0px;
}
.tab-wrapper__blok{
    justify-content: center;
    display: flex;
}
.block{
    flex-grow: 1;
    flex-basis:0;
    margin: 0 px;
}
.header{
    width:1170px;
    height: 40px;
    border: 1px solid gray;
    margin-top:0px;
    margin-left:50px;
    border-bottom: white;
}
.tab-wrapper__title{
width:201px;
float:left;
height:38px;
border: 1px solid gray;
}

.img {
    width: 470px;
    height: 500px;
    
}
.block_text{

    width: 570px;

}
.button{
    background:brown ;
    color: white;
    width: 270px;
    height: 58px;
    size: 18px;

}

.advantages {
    max-width: 1170px;
    margin: auto;

}

h2 {
    text-align: center;
    font-size: 36px;
}

.line {
    width: 170px;
    height: 1px;
    background-color: brown;
    margin: 40px auto;
}

.text_subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.advantages_block {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.block {
    width: 370px;
    height: 383px;
    display: flex;
    flex-direction: column;

}

.block img {
    margin: 0 auto;
}

.block h3 {
    text-align: center;
    font-size: 24px;
}

.block p {
    text-align: center;
    font-size: 18px;
}

body {
    font-family: Raleway;
}

h3 {
    font-family: Open Sans;
}