* {
    margin: 0;
}

.tabs {
    width: 1170px;
    height: 540px;
    border: 1px solid #C6CBCD;
    margin: 0px auto;
    margin-left: 50px;
    margin: auto;
}

.tab-wrapper {
    margin: 0px;
}

.tab-wrapper__blok {
    justify-content: center;
    display: flex;
}

.block {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 px;
}

.header__tab {
    width: 1170px;
    height: 40px;
    border: 1px solid gray;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: white;
    margin: auto;
}

.tab-wrapper__title {
    width: 201px;
    float: left;
    height: 38px;
    border: 1px solid gray;
}

.img {
    width: 470px;
    height: 500px;

}

.block_text {

    width: 570px;

}

.button {
    background: brown;
    color: white;
    width: 270px;
    height: 58px;
    size: 18px;
}

.advantages {
    max-width: 1170px;
    margin: auto;

}

.bim {
    text-align: center;
    font-size: 36px;
    margin: 100px auto;
}

.line {
    width: 170px;
    height: 1px;
    background-color: brown;
    margin: 40px auto;
}

.text_subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.advantages_block {
    display: flex;
    justify-content: space-between;
}

.block {
    width: 370px;
    height: 383px;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.block img {
    margin: 0 auto;
}

.block h3 {
    text-align: center;
    font-size: 24px;
}

.block p {
    text-align: center;
    font-size: 18px;
    margin: auto;
}

body {
    font-family: Raleway;
}

h3 {
    font-family: Open Sans;
}

.cards {
    max-width: 1170px;
    margin: auto;
    margin-bottom: 50px;
}

.cards__heder {
    text-align: center;
    font-size: 36px;

}

.cards__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.cards__subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin: 40px auto;
    margin-bottom: 100px;
}

.cards__block {
    display: flex;
    align-items: center;
}

.block h4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 370px;
    background: #333333;
    border: 2px solid #F5F5F5;
}

.continer {
    height: 100px;
    width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333333;
    border: 2px solid #F5F5F5;
}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 370px;
    align-items: center;
    background: #333333;
    border: 2px solid #F5F5F5
}

.points {
    height: 50px;
    width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

h2 {
    font-family: Raleway;
}

.block:hover {
    margin-bottom: 40px;
}

.reviews {
    max-width: 1170px;
    margin: auto;
}

.reviews__heder {
    text-align: center;
    font-size: 36px;
    margin: 80px auto;
}

.reviews__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.reviews__subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin: 40px auto;
    margin-bottom: 100px;
}

.reviews__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;

}

.description {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
}

.text_description {
    margin: 40px 60px;
}

.d4 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #E2E2E2;
    position: absolute;
    bottom: -100px;
    left: 85px;
}

.reviews__people {
    display: flex;
    justify-content: space-between
}

.people_text {
    margin: 0px 20px;
}

.people_p {
    margin-top: 20px;
}

h4 {
    font-family: Open Sans;
}

.banner {
    width: 1170px;
    height: 442px;
    margin: auto;
    background: url(./img/image.png);
}

.banner__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
}

.banner__heder {
    text-align: center;
    font-size: 36px;
    margin: auto;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 100px;
}

.banner__description {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.banner__button {
    margin: 100px 430px;
    background: 0, 0, 0, 0;
    color: white;
    border-color: #FFFFFF;
    width: 370px;
    height: 58px;
    size: 18px;
}

h2 {
    font-family: Raleway;
}

.form {
    width: 1170px;
    margin: auto;
}

.form__heder {
    text-align: center;
    font-size: 36px;
    margin: auto;
    margin-top: 100px;
}

.form__line {
    display: flex;
    margin: 40px auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.form__description {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.form__filling {
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    width: 571px;
    height: 38px;
    margin: 10px;
    padding: 25px;
    outline: none;
}

.form__text {
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    width: 569px;
    margin-top: 45px;
    height: 269px;
    outline: none;
}

.form__flex {
    display: flex;
}

.form__button {
    background: #EC7979;
    color: white;
    width: 270px;
    height: 58px;
    size: 18px;
    border: #EC7979;
    margin: 50px 450px;
}

.footer {
    width: 1170px;
    height: 164px;
    background: #000000;
    margin: auto;
}

.footer__flex {
    display: flex;
    justify-content: center;
}

.footer__icon {
    margin: auto 25px;
    padding-top: 50px;
}

.footer__text {
    color: #FFFFFF80;
    margin: 0 auto;
    margin-top: 25px;
}

.footer__description {
    display: flex;
}